section#messages-page {
  padding-top: 15px;

  #navigation {
    li a[href="messages.html"] {
      background: #E4F6FE;
      text-decoration: none;
      border-radius: 2px;
    }
  }

  //navigation menu
  @import "_navigation.scss";

  //content messages

  section#message-content {
    display: flex;
    flex-flow: row nowrap;

    .message-content__list {
      overflow-y: scroll;
      overflow-x: hidden;
      min-width: 260px;
      height: 90vh;
      box-shadow: 0 1px 6px #BDBDBD;
      border-radius: 5px;

      &::-webkit-scrollbar {
        width: 5px;
        height: 9px;
        background-color: #f2f8ff;
      }

      &::-webkit-scrollbar-thumb {
        background: #BDBDBD;
        border-radius: 10px;
      }

      .message-content__list_item {
        display: grid;
        grid-template-columns: 60px 160px 40px;
        grid-template-rows: 30px 60px;
        padding: 3px 0;
        font-size: 14px;
        height: 100px;
        border: 1px solid #dfdfdf;

        &.current {
          background-color: #05A4E8;
          color: whitesmoke;
          cursor: pointer;

          .user-message-info {
            color: whitesmoke;
          }
        }

        &:hover {
          background-color: #05A4E8;
          color: whitesmoke;
          cursor: pointer;
        }

        &:hover .user-message-info {
          color: whitesmoke;
        }


        .user-avatar {
          text-align: center;
          align-self: start;
          grid-row-start: 1;
          grid-row-end: 3;

          img {
            width: 40px;
            height: 40px;
            align-self: center;
          }

        }

        .user-name {
          font-size: 1rem;
          font-weight: 700;
          padding-top: 4px;
          //letter-spacing: .05em;


        }

        .user-new-messages {
          padding-top: 3px;
          text-align: center;

          span.active {
            display: block;
            color: whitesmoke;
            border-radius: 6px;
            background-color: #0382C3;
            height: 22px;
            width: 20px;
          }

        }

        .user-message-info {
          line-height: 1.1;
          color: #0382C3;
          font-weight: 600;
          letter-spacing: .045em;
          grid-column-start: 2;
          grid-column-end: 3;
          overflow: hidden;
        }
      }
    }

    .message-content__window {
      box-shadow: 0 1px 6px #BDBDBD;
      border-radius: 5px;
      padding: 15px 3%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;


      .message-content__window__list {

        .message-content__list__inbox, .message-content__list__send {
          display: flex;
          flex-flow: row nowrap;
          padding-bottom: 4%;

          .mess-text {
            .my-profile-name, .friend-name {
              font-weight: 700;

              span {
                padding-left: 10px;
                color: #8d8d8d;
                font-size: .9rem;
                font-weight: 600;
                letter-spacing: .001em;
              }
            }
          }
        }
      }

      .send-message-form {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        #input-message-text {
          min-width: 90%;
          border-bottom: 1px solid #bdbdbd;
        }

        button[type='submit'] {
          background-color: #0262A4;
          color: whitesmoke;
          width: 40px;
          height: 40px;
          padding-right: 2px;
          border-radius: 50%;
          text-align: center;
        }
      }
    }
  }
}

