
.my-profile {
  margin-top: 8%;

  h2 {
    width: 100%;
    font-size: 2.5rem;
    text-align: center;
  }

  #input-user-name {
    color: #0b93d5;
    font-weight: 900;
    font-size: 2rem;
    text-decoration: underline;
  }

  .user-form-wrap {


    .insert-info {
      max-width: 80%;
      margin: 0 auto;
      display: flex;
      flex-flow: column;

      & > div {
        min-width: 100%;
        padding: 1% 2%;
        margin: 0 auto;
        border-bottom: 1px solid grey;

        span:first-of-type {
          text-decoration: underline;
          letter-spacing: 0.055em;
        }

        span:last-of-type {
          font-weight: 600;
        }
      }

      button {
        width: 300px;
        margin: 15px auto;
        padding: .5% 1%;
        font-weight: 600;
      }
    }

    form {
      max-width: 80%;
      margin: 0 auto;

      div {
        padding: 15px;
        border: black solid 1px;
        border-bottom: none;

        &:last-child {
          border-bottom: black solid 1px;
          border-top: none;
        }

        label {
          display: block;

          span {
            color: red;
            font-weight: 900;
          }
        }

        input {
          display: block;
          width: 100%;
          border: black solid 1px;
          border-radius: 5px;
          margin-bottom: 10px;
        }

        select {
          border-radius: 5px;
        }

        button {
          width: 150px;
          display: block;
          margin: 0 auto;
          border: black solid 1px;
          border-radius: 5px;
        }
      }
    }

    .after-save-wrap {
      button {
        border: 1px solid transparent;
        transition: all .3s ease;

        &:hover {
          border: black 1px solid;
          transition: all .3s ease-in-out;
          letter-spacing: 0.22em;
          font-weight: 900;
        }
      }
    }
  }

  .security {
    max-width: 80%;

    margin: 2% auto;

    h3 {
      padding: 15px;
    }

    form {
      padding: 5px 15px;
      border: 1px solid black;
      display: flex;
      flex-flow: row;
      justify-content: stretch;

      div {
        width: 50%;
        border: none;
      }

      label {
        height: 100%;
        line-height: 32px;
      }

      input {
        padding-left: 15px;
        height: 100%;
        line-height: 32px;

      }

    }
  }

  .history {
    padding: 15px;
    max-width: 80%;
    margin: 0 auto 15px;
    border: 1px solid black;

    .insert-searches {
      & > div {
        border: 1px solid gray;

        span:first-of-type {
          width: 45%;
          font-weight: 600;
          padding: 5px;
        }

        span:last-of-type {
          width: 45%;
          font-weight: 600;
          padding: 5px;
        }
      }
    }
  }
}