@font-face {
  font-family: 'WorkSans-Light';
  src: url('../fonts/WorkSans/WorkSans-Light/WorkSans-Light.eot');
  src: url('../fonts/WorkSans/WorkSans-Light/WorkSans-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/WorkSans/WorkSans-Light/WorkSans-Light.svg#WorkSans-Light') format('svg'),
  url('../fonts/WorkSans/WorkSans-Light/WorkSans-Light.ttf') format('truetype'),
  url('../fonts/WorkSans/WorkSans-Light/WorkSans-Light.woff') format('woff'),
  url('../fonts/WorkSans/WorkSans-Light/WorkSans-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSans-Medium';
  src: url('../fonts/WorkSans/WorkSans-medium/WorkSans-Medium.eot');
  src: url('../fonts/WorkSans/WorkSans-medium/WorkSans-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/WorkSans/WorkSans-medium/WorkSans-Medium.svg#WorkSans-Medium') format('svg'),
  url('../fonts/WorkSans/WorkSans-medium/WorkSans-Medium.ttf') format('truetype'),
  url('../fonts/WorkSans/WorkSans-medium/WorkSans-Medium.woff') format('woff'),
  url('../fonts/WorkSans/WorkSans-medium/WorkSans-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSans-Regular';
  src: url('../fonts/WorkSans/WorkSans-regular/WorkSans-Regular.eot');
  src: url('../fonts/WorkSans/WorkSans-regular/WorkSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/WorkSans/WorkSans-regular/WorkSans-Regular.svg#WorkSans-Regular') format('svg'),
  url('../fonts/WorkSans/WorkSans-regular/WorkSans-Regular.ttf') format('truetype'),
  url('../fonts/WorkSans/WorkSans-regular/WorkSans-Regular.woff') format('woff'),
  url('../fonts/WorkSans/WorkSans-regular/WorkSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSans-Bold';
  src: url('../fonts/WorkSans/WorkSans-bold/WorkSans-Bold.eot');
  src: url('../fonts/WorkSans/WorkSans-bold/WorkSans-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/WorkSans/WorkSans-bold/WorkSans-Bold.svg#WorkSans-Bold') format('svg'),
  url('../fonts/WorkSans/WorkSans-bold/WorkSans-Bold.ttf') format('truetype'),
  url('../fonts/WorkSans/WorkSans-bold/WorkSans-Bold.woff') format('woff'),
  url('../fonts/WorkSans/WorkSans-bold/WorkSans-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSans-SemiBold';
  src: url('../fonts/WorkSans/WorkSans-semiBold/WorkSans-SemiBold.eot');
  src: url('../fonts/WorkSans/WorkSans-semiBold/WorkSans-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/WorkSans/WorkSans-semiBold/WorkSans-SemiBold.svg#WorkSans-SemiBold') format('svg'),
  url('../fonts/WorkSans/WorkSans-semiBold/WorkSans-SemiBold.ttf') format('truetype'),
  url('../fonts/WorkSans/WorkSans-semiBold/WorkSans-SemiBold.woff') format('woff'),
  url('../fonts/WorkSans/WorkSans-semiBold/WorkSans-SemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'WorkSans-ExtraBold';
  src: url('../fonts/WorkSans/WorkSans-extraBold/WorkSans-ExtraBold.eot');
  src: url('../fonts/WorkSans/WorkSans-extraBold/WorkSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/WorkSans/WorkSans-extraBold/WorkSans-ExtraBold.svg#WorkSans-ExtraBold') format('svg'),
  url('../fonts/WorkSans/WorkSans-extraBold/WorkSans-ExtraBold.ttf') format('truetype'),
  url('../fonts/WorkSans/WorkSans-extraBold/WorkSans-ExtraBold.woff') format('woff'),
  url('../fonts/WorkSans/WorkSans-extraBold/WorkSans-ExtraBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}



@mixin  ms_300($fsize){
  font-family: 'WorkSans-Light', Arial, Tahoma, sans-serif;
  font-weight: normal;
  font-size: $fsize;

}
@mixin ms_400($fsize){
  font-family: 'WorkSans-Regular', Arial, Tahoma, sans-serif;
  font-weight: normal;
  font-size: $fsize;
}

@mixin ms_500($fsize){
  font-family: 'WorkSans-Medium', Arial, Tahoma, sans-serif;
  font-weight: normal;
  font-size: $fsize;
}

@mixin ms_600($fsize){
  font-family: 'WorkSans-SemiBold', Arial, Tahoma, sans-serif;
  font-weight: normal;
  font-size: $fsize;
}

@mixin ms_700($fsize){
  font-family: 'WorkSans-Bold', Arial, Tahoma, sans-serif;
  font-weight: normal;
  font-size: $fsize;
}

@mixin ms_800($fsize){
  font-family: 'WorkSans-ExtraBold', Arial, Tahoma, sans-serif;
  font-weight: normal;
  font-size: $fsize;
}
