@font-face {
  font-family: 'Lato-Medium';
  src: url('../fonts/Lato/Lato-Medium/Lato-Medium.eot');
  src: url('../fonts/Lato/Lato-Medium/Lato-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Lato/Lato-Medium/Lato-Medium.svg#Lato-Medium') format('svg'),
  url('../fonts/Lato/Lato-Medium/Lato-Medium.ttf') format('truetype'),
  url('../fonts/Lato/Lato-Medium/Lato-Medium.woff') format('woff'),
  url('../fonts/Lato/Lato-Medium/Lato-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Black';
  src: url('../fonts/Lato/Lato-Black/Lato-Black.eot');
  src: url('../fonts/Lato/Lato-Black/Lato-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Lato/Lato-Black/Lato-Black.svg#Lato-Black/Lato-Black') format('svg'),
  url('../fonts/Lato/Lato-Black/Lato-Black.ttf') format('truetype'),
  url('../fonts/Lato/Lato-Black/Lato-Black.woff') format('woff'),
  url('../fonts/Lato/Lato-Black/Lato-Black.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-SemiBold';
  src: url('../fonts/Lato/Lato-SemiBold/Lato-SemiBold.eot');
  src: url('../fonts/Lato/Lato-SemiBold/Lato-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Lato/Lato-SemiBold/Lato-SemiBold.svg#Lato-SemiBold/Lato-SemiBold') format('svg'),
  url('../fonts/Lato/Lato-SemiBold/Lato-SemiBold.ttf') format('truetype'),
  url('../fonts/Lato/Lato-SemiBold/Lato-SemiBold.woff') format('woff'),
  url('../fonts/Lato/Lato-SemiBold/Lato-SemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


@mixin  ms_500($fsize){
  font-family: 'Lato-Medium', Arial, Tahoma, sans-serif;
  font-weight: normal;
  font-size: $fsize;

}
@mixin ms_600($fsize){
  font-family: 'Lato-Medium', Arial, Tahoma, sans-serif;
  font-weight: normal;
  font-size: $fsize;
}

@mixin ms_900($fsize){
  font-family: 'Lato-Black', Arial, Tahoma, sans-serif;
  font-weight: bolder;
  font-size: $fsize;
}

