footer {
  background-color: #06141E;
  color: whitesmoke;

  h4 {
    color: whitesmoke;
    @include ms_600(1.7rem);
    text-align: left;
    @include nedophone {
      text-align: center;
    }
  }


  .footer-top-wrap {
    border: 1px solid transparent;
    border-bottom-color: #174055;

    .footer-top {
      .col-lg-4:first-child .footer-top__item {
        @include tablet {
          padding-left: 15%;
        }
        @include nedophone {
          padding: 6% 0;

        }

        p {
          padding: 6% 0;
          line-height: 1.7;
          @include nedophone {
            max-width: 310px;
            margin: 0 auto;
            padding: 3% 0;
          }
        }

        a {
          display: block;
          line-height: 1.7;
          @include nedophone {
            max-width: 310px;
            margin: 0 auto;
          }

          span {
            &:hover {
              transition: all .3s ease-in-out;
              color: #FF8C00;
            }
          }
        }
      }

      .col-lg-4:nth-child(2) .footer-top__item {
        max-width: 367px;
        text-align: center;
        padding: 32% 6.5%;
        @include tablet {
          padding: 6%;
          max-width: 100%;
          border-right: none;
          border-bottom-color: #174055;
          border-left-color: #174055;
        }


        .table-wrap {
          padding-top: 6%;

          table {
            width: 276px;
            @include ms_500(1.1rem);
            @include nedophone {
              margin: 0 auto;
            }

            tbody {
              width: 100%;

              tr {
                padding-bottom: 22px;

                td {
                  width: 45%;
                  text-align: left;
                  line-height: 1.7;
                }
              }

              tr td:first-of-type {
                text-align: left;
                width: 55%;
              }
            }
          }
        }
      }

      .footer-top__item, {
        padding: 32% 0 1%;
        height: 100%;
        border: 1px solid transparent;
        border-right-color: #174055;
        @include tablet {
          padding: 6%;
          width: 100%;
          border-bottom-color: #174055;
        }
      }

      .footer-top__news {
        padding: 32% 0 8% 10%;
        height: 100%;
        border: 1px solid transparent;
        @include tablet {
          padding: 6% 0 3%;
          br {
            display: none
          }
          max-width: 555px;
          margin: 0 auto;
        }

        h4 {
          padding-bottom: 6%;
          @include tablet {
            padding-bottom: 3%;
          }

        }

        .footer-top__news__item {
          & a:first-child {
            color: #FF8C00;
            @include ms_700(1.25rem);
          }

          p {
            padding: 1% 0 2%;
          }

          & a:last-child {
            padding: 5% 0;
            display: block;
            color: #547D9A;
            @include ms_500(1rem);
            @include tablet {
              padding: 0 0 4%;
            }

            &:hover {
              transition: all .3s ease-in-out;
              color: #FF8C00;
            }
          }
        }
      }
    }
  }

  .footer-bottom-wrap {
    padding: 2% 0 6%;

    .footer-bottom-wrap__item {
      border: 1px solid transparent;
      border-right-color: #174055;
      @include nedophone {
        border: none;
        margin: 0 auto;
      }

      h4 {
        padding-bottom: 8%;
      }

      a {
        color: #FF8C00;
      }

    }

    .col-lg-3 .footer-bottom-wrap__item {
      padding-bottom: 3%;

      @include tablet {
        h4 {
          text-align: center;
          padding-bottom: 2%;
        }

        border: none;
        text-align: center;
        width: 100%;
      }
    }

    .col-lg-4 {
      .footer-bottom-wrap__item {
        padding-left: 11%;
        border: none;
        position: relative;
        @include tablet {
          padding: 3%;
        }

        p {
          display: block;
          margin-bottom: 1%;
          @include nedophone {
            display: block;
            max-width: 310px;
            margin: 0 auto;
          }
        }

        & > a {
          color: #547D9A;
          @include nedophone {
            display: block;
            max-width: 310px;
            margin: 0 auto;
          }
        }

        .twitter-bottom, .twitter-bottom a {
          color: #FF8C00;
        }

        .twitter-bottom {
          transform: translate(90px, 30px);
          @include phone {
            transform: translate(40px, 30px);
          }
          @include nedophone {
            position: absolute;
            text-align: center;
            bottom: -10%;
            width: 310px;
            left: 50%;
            transform: translateX(-50%);
          }

          a {
            padding: 0 1%;
          }
        }
      }
    }

    .col-lg-5 {
      .footer-bottom-wrap__item {
        max-width: 420px;
        @include tablet {
          padding: 5% 0;
        }

        p {
          max-width: 350px;
          display: block;
          margin-bottom: 1%;
          @include nedophone {
            max-width: 310px;
            margin: 0 auto;
          }
        }

        a {
          color: #547D9A;
          @include nedophone {
            display: block;
            max-width: 310px;
            margin: 0 auto;
          }
        }
      }
    }
  }

  .footer-under-bottom {
    background-color: black;
    color: whitesmoke;
    padding: 0 20.5%;
    @include nofhd {
      padding: 0 10%;
    }
    @include tablet {
      padding: 3%;
      font-size: .8rem;
    }
    @include nedophone {
      p {
        text-align: center;
        width: 100%;
      }
      .footer-bottom__links {
        text-align: center;
        width: 100%;
      }
    }

    .footer-bottom__links {
      color: #547D9A;

      a {
        color: #547D9A;
      }
    }
  }
}