@mixin socs {
  width: 29px;
  height: 29px;
  text-align: center;
  color: #374556;
  font-size: 0.9rem;
  padding-top: 3.5px;
  background-size: cover;
}

footer {


  .subs-wrap {
    @include desktop {
      padding: 50px 19.55%;
    }

    @include nofhd {
      padding: 30px 9%;
    }
    width: 100%;
    background-color: #3F4C5D;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;


    .sub-wrap-logo {
      // order: 3;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      @include tablet {
        margin: 20px auto;
      }


      .logo-circle {
        width: 66px;
        height: 66px;
        border-radius: 50%;
        border: 1px solid whitesmoke;
        margin-right: 20px;
        @include laphone {
          margin: 15px auto;
        }

        .logo-img {
          font-size: 23px;
          width: 24px;
          height: 24px;
          padding-top: 12px;
          color: whitesmoke;
          margin: auto;

        }
      }

      .sub-wrap-text {
        @include ms_900(19px);
        line-height: 1.2;
        letter-spacing: .05em;
        @include laphone {
          text-align: center;
          margin: 0 auto;
        }
        @include fontsize(19px, 1rem, .9rem)

      }
    }

    .subs-mail {
      @include nedophone {
        margin: 0 auto;
      }

      .hide-label {
        display: none;
      }

      input#subscribe-email {
        @include ms_300(13px);
        background-color: #3F4C5D;
        color: whitesmoke;
        text-align: center;
        min-width: 220px;
        padding-bottom: 2px;
        border-bottom: 1px solid whitesmoke;
        @include nedophone {
          margin: 0 auto;
        }
      }
    }

    .subs-button {
      @include nedophone {
        margin: 20px auto;
      }

      button[type="button"] {
        background-color: #3F4C5D;
        color: whitesmoke;
        letter-spacing: 0.04em;
        border: 1px solid whitesmoke;
        border-radius: 5px;
        width: 155px;
        height: 40px;
        @include ms_900(16px);
        transition: all .5s ease;


        &:hover {
          background-color: #af0000;
          border: 1px solid rgba(245, 245, 245, 0.48);
          font-size: 18px;
          transition: all .5s ease;
          box-shadow: 0 0 10px #af0000;
        }

      }
    }
  }

  .footer-links {
    color: #969BA2;
    width: 100%;
    background-color: #3F4C5D;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    @include desktop {
      padding: 30px 19.55%;
    }
    @include nofhd {
      padding: 30px 9%;
    }
    @include nedophone {
      flex-flow: column nowrap;
      align-items: center;
      text-align: center;
    }

    .footer-column {

      &:first-child {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;

        @include tablet {
          &:first-child {
            width: 50%;
            justify-content: flex-start;
            margin: 6px 0;
          }
        }
        @include nedophone {
          &:first-child {
            justify-content: center;
          }
        }
      }

      @include tablet {
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
          width: 50%;
        }
        &:nth-child(2) {
          order: -1;
        }
        &:nth-child(3) {
          order: -1;
        }
      }

      a {
        color: whitesmoke;
        .footer-logo {
          border: 1px #969BA2 solid;
          border-radius: 5px;
          width: 57px;
          height: 57px;
          padding-top: 5px;
          margin-right: 10px;
          @include tablet {
            margin: 5px 10px 5px 0;
          }
          @include nedophone {
            margin: 5px 0;
          }


          .inside-logo-body {
            @include ms_100(16px);
            padding-top: 8px;
            width: 45px;
            height: 45px;
            border-radius: 5px;
            border: 1px #969BA2 solid;
            margin: 0 auto;
            text-transform: uppercase;
            text-align: center;
          }
        }
      }

      .footer-description {
        @include ms_300(11px);
        color: #969BA2;
      }

      .contacts {
        @include ms_700(14px);
        line-height: 1.5;

        span {
          @include ms_300(13px);
        }
      }

      .phone {
        margin-top: 6px;
        @include ms_700(14px);

        a {
          @include ms_300(13px);
          color: #969BA2;
        }
      }

      .work-hour {
        @include ms_700(14px);
        line-height: 1.5;

        span {
          @include ms_300(13px);
        }
      }

      .footer-main-mail {
        @include ms_700(14px);
        line-height: 1.5;
        margin-top: 6px;

        a {
          @include ms_300(13px);
          color: #969BA2;
        }
      }

      .be-friends {
        @include ms_900(14px);
        letter-spacing: .04em;
        @include tablet {
          margin-top: 6px;

        }
      }

      .footer-socials {
        padding-top: 15px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        @include tablet {
          padding-right: 30px;
          justify-content: space-around;
        }
        @include nedophone {
          padding-right: 0;
        }

        .soc1 {
          @include socs;
          background-image: url("../img/soc1.png");
          transition: all .5s ease;

          &:hover {
            transition: all .5s ease;
            transform: scale(1.8);
            filter: invert(100%);
          }
        }

        .soc2 {
          @include socs;
          background-image: url("../img/soc2.png");
          transition: all .5s ease;

          &:hover {
            transition: all .5s ease;
            transform: scale(1.8);
            filter: invert(100%);
          }
        }

        .soc3 {
          @include socs;
          background-image: url("../img/soc3.png");
          transition: all .5s ease;

          &:hover {
            transition: all .5s ease;
            transform: scale(1.8);
            filter: invert(100%);
          }
        }

        .soc4 {
          @include socs;
          background-image: url("../img/soc4.png");
          transition: all .5s ease;

          &:hover {
            transition: all .5s ease;
            transform: scale(1.8);
            filter: invert(100%);
          }
        }


      }
    }
  }

}