nav#navigation {
  width: 200px;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  color: $blue-text;

  ul {
    display: flex;
    flex-flow: column nowrap;

    li:hover {
      background: #e1e5eb;
      text-decoration: none;
      border-radius: 2px;
    }

    li > a {
      display: flex;
      flex-flow: row nowrap;
      max-width: 200px;

      .menu-ico {
        padding: 10px 5px;
        min-width: 40px;
        font-size: 1.1rem;
        text-align: center;
      }

      .menu-text {
        padding: 12px 7px;

        span.active{
          padding: 5px 6px;
          margin-left: 4px ;
          background-color: #0382C3;
          border-radius: 4px;
          color: whitesmoke;
        }
      }
    }
  }
}