header {
  .header-wrap {
    height: 100px;
    padding: 0 0.2% 0 1.35%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    @include tablet {
      height: auto;
      padding: 2%;
    }
    @include nedophone{
      padding: 1% 2%;
    }

    .header-wrap__left {
      padding-top: 0.5%;
      .menu-button {
        user-select: none;
        cursor: pointer;
        width: 52px;
        height: 44px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: flex-start;
        letter-spacing: 0.09em;
        @include ms_500(1rem);
        line-height: 1;
        @include tablet {
          width: 40px;
          height: 40px;
          font-size: .9rem;
        }
        @include nedophone {
          font-size: .8rem;
        }

        & div:first-of-type {
          border: 1px solid #252525;
          width: 50px;
          @include tablet {
            width: 100%;
          }
        }

        & div:last-of-type {
          border: 1px solid #252525;
          width: 40px;
          @include tablet {
            width: 80%;
          }

        }
      }

      nav {
        display: none;
      }
    }

    a.header-logo {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-48%, -50%);
      @include nedophone {
        transform: translate(-45%,-50%);
      }
      img {
        @include tablet {
          width: 250px;
        }
        @include nedophone {
          width: 200px;
        }
      }
    }

    .header-wrap__right {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      align-items: center;
      @include nedophone {
        flex-flow: column;
      }

      .header-wrap__right__socials {
        @include nedophone {
          order: 1;
        }

        a {
          color: #a1a1a1;
          font-size: 1.13rem;
          padding: 5px 13px;
          @include tablet {
            padding: 5px 10px;
          }
          @include nedophone {
            padding: 10px 5px 0;
            display: block;
            text-align: center;
          }

          &:last-of-type {
            margin-right: 35px;
            @include desktop {
              margin-right: 0;
            }
          }

          &:hover {
            color: red;
          }
        }
      }

      .header-wrap__right__language {
        user-select: none;
        cursor: pointer;
        width: 60px;
        height: 60px;
        border: 1px solid black;
        @include ms_500(.9rem);
        position: relative;
        text-align: center;
        line-height: 58px;
        @include tablet {
          width: 50px;
          height: 50px;
          line-height: 48px;
        }
        @include nedophone {
          width: 30px;
          height: 30px;
          line-height: 28px;
          font-size: .7rem;
        }

        a {
          display: block;
          color: black;

          &:hover {
          }
        }

        span {
          position: absolute;
          display: block;
          bottom: -30%;
          left: 50%;
          transform: translateX(-50%);
          color: #a1a1a1;
          z-index: -1;
          @include nedophone {
            display: none;
          }

          .fas.fa-arrow-right {
            font-weight: 300;
            font-size: .8rem;
            @include tablet {
              font-size: .7rem;
            }

          }
        }
      }
    }
  }
}