header {
  .site-header-mini-nav {
    text-align: right;
    padding: 15px;
  }

  h1 {
    width: 777px;
    margin: 10px auto 50px;
    text-align: center;
  }
}

aside {
  background-color: #5bb2dc;

  nav {
    ul {
      min-height: 200px;

      li {
        a {
          display: block;
          padding: 10px 25px;
          color: whitesmoke;

          &:hover {
            color: whitesmoke;
            text-shadow: whitesmoke 0 2px 4px;
            background-color: rgba(11, 147, 213, 0.45);
          }
        }
      }
    }
  }
}

.film-content {
  border: black 2px solid;
  min-height: 200px;
  padding: 15px;

  h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bolder;
  }

  form {
    padding: 15px;
    margin: 10px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;


    label {
      font-size: 1.25rem;
      line-height: 30px;
      margin: 0;
    }

    input {
      margin: 0 15px;
      width: 250px;
      border: #0b93d5 1px solid;
    }

    button {
      width: 80px;
      border: #0b93d5 1px solid;
    }
  }

  #resultMessage {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    .total-results {

      text-align: center;
      width: 100%;
      font-weight: 600;
    }

    .myErrors {
      display: none;
      color: #0b93d5;
      border: red 2px solid;
      width: 180px;
      text-align: center;
      margin: 25px auto;
      font-weight: 600;
      padding: 5px 15px;
    }

    #someResponse {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-content: flex-start;

      .film-item {
        border: black 1px solid;
        width: 350px;
        padding: 15px;
        margin: 15px auto;

        img {
          display: block;
          margin: 0 auto 15px;
          height: 100%;
          max-height: 400px;
          max-width: 320px;
        }

        img[src="/img/nophoto.jpg"] {
          width: 100%;
        }

        div:first-of-type {
          font-weight: 600;
          text-align: center;
          font-size: 1.3rem;
          line-height: 1;
        }

      }
    }

    .pagination {
      display: none;
      margin: 60px 0;
      position: relative;
      user-select: none;
      width: 300px;
      flex-flow: row nowrap;
      justify-content: center;

      .quantity-pages {
        position: absolute;
        bottom: 35px;
        font-weight: 600;
        text-align: center;

        span {
          border: none;
          color: #0b93d5;
        }
      }

      button {
        width: 80px;
        background-color: transparent;
        border: gray 1px solid;
      }

      span {
        background-color: transparent;
        display: inline-block;
        border: gray 1px solid;
        text-align: center;
        width: 35px;
        cursor: pointer;
        z-index: 10;
      }

      .active-page {
        background-color: #0b93d5 !important;
        color: whitesmoke;
        font-weight: 600;
      }

      .disabled-page {
        background-color: #d9d9d9;
        color: #aaaaaa;
      }
    }
  }
}

.overlay {
  display: none;
  background-color: rgba(11, 53, 68, 0.67);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 111;

  #film-description {
    min-width: 320px;
    height: 96vh;
    padding: 15px 20px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;

    .close-me {
      position: sticky;
      text-align: right;
      text-shadow: white 2px 1px 4px ;
      top: 0;
      font-size: 1.2rem;
      padding: 5px;
      user-select: none;
      cursor: pointer;
    }

    h2 {
      text-align: center;
    }

    img {
      max-width: 100%;
      display: block;
      margin: 10px auto;

      & ~ div {
        background-color: rgba(175, 175, 175, 0.2);

        &:nth-of-type(even) {
          padding: 15px 15px 0;

          &:after {
            content: ':';
          }
        }

        &:nth-of-type(odd) {
          border-bottom: 1px solid gray;
          padding: 5px 15px 0;
          color: #005782;

        }

      }
    }

    .ratings {
      padding: 15px 15px 0;
      font-weight: 600;
      background-color: rgba(175, 175, 175, 0.2);

      li {
        font-weight: 400;

        span:last-of-type {
          color: #0b93d5;
          font-weight: 600;
        }
      }
    }
  }
}