section#mainpage-content {
  padding-top: 15px;

  nav#navigation {
    width: 200px;
    float: left;
    padding-left: 40px;
    color: $blue-text;

    ul {
      display: flex;
      flex-flow: column nowrap;

      li:hover {
        background: #e1e5eb;
        text-decoration: none;
        border-radius: 2px;
      }

      li > a {
        display: flex;
        flex-flow: row nowrap;
        max-width: 200px;

        .menu-ico {
          padding: 10px 5px;
          min-width: 40px;
          font-size: 1.1rem;
          text-align: center;
        }

        .menu-text {
          padding: 12px 7px;
        }
      }
    }
  }

  //content

  .my-page {
    border: 2px solid green;
    display: flex;

    .profile-about {
      max-width: 300px;
      float: left;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: center;

      .profile-about__preview {
        box-shadow: 0 0 6px black;
        min-height: 250px;
        padding: 10px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;

        img {

        }

        .but-wrap {
          max-width: 200px;


          button {
            display: block;
            width: 170px;
            height: 32px;
            border-radius: 5px;
            margin: 0 auto;
            background-color: #8BD8FB;
            color: $text_color2;

          }
        }
      }

      .profile-about__friends {
        width: 200px;
        height: 300px;
        border: 1px solid black;
      }
    }


    .profile-content {

      display: flex;
      flex-flow: column wrap;

      .profile-content__info {
        box-shadow: 0 0 6px gray;

        h2 {
          font-size: 2rem;
        }
        table{
          font-size: .9rem;
          tr{
            & td:first-child{
              width: 90px;
              color: #C3C8D8;
            }
            & td:last-child{
              color: #117AC0;

            }
          }
        }
        .counts-row{
          display: flex;
          flex-flow: row wrap;
          justify-content: space-around;
          align-items: center;
          text-align: center;
        }
      }
      .my-wall-item{
        .my-wall-user{
          padding: 10px;
          display: flex;
          flex-flow: row nowrap;
          .my-wall-user__name{
            span{
              display: block;
              font-size: .8rem;
              color: gray;
            }
          }

        }
        .wall-text{

        }
        .wall-actions{
          width: 100%;
          display: flex;
          flex-flow: row nowrap;
        }
      }
    }
  }
}