#task1 {
  padding: 15px;

  h3 {
    font-size: 1.4rem;
  }

  div {
    width: 300px;
    margin: 0 auto;
    height: 50px;
    font-size: 1.5rem;
    font-weight: 800;
    padding: 5px;
    text-align: center;
  }

  button {
    width: 150px;
    margin: 0 auto;
    display: block;
    background-color: rgba(128, 128, 128, 0.58);
    border-radius: 5px;
    border: #0a0a0a solid 1px;
  }
}

#task2 {
  a {
    width: 300px;
    text-align: center;
    display: block;
    margin: 20px auto;
  }
}

#task3 {
  width: 300px;
  margin: 0 auto;

  button {
    display: block;
    width: 150px;
    margin: 10px auto;
    text-align: center;
    border: gray 1px solid;
    border-radius: 5px;

    &:hover {
      box-shadow: #0a0a0a 0 0 4px;
      transform: scale(1.05)
    }

  }

  & > div {
    overflow: hidden;
    width: 1px;
    transform: translateX(-1000px);
    height: 1px;
    transition: all .5s ease-out;
  }

  .youSeeMe {
    height: 250px;
    width: 100%;
    border: gray 1px dashed;
    transform: translateX(0);
  }
}

#task4 {
  padding: 15px;

  .tabs-wrap {
    width: 666px;
    max-height: 237px;
    overflow: hidden;
    border: #597BA0 2px solid;
    margin: 10px auto;
    display: flex;
    flex-flow: row nowrap;

    .tabs-wrap__buttons {
      background-color: #597BA0;
      min-width: 90px;
      padding-top: 20px;

      button {
        background-color: #597BA0;
        width: 100%;
        padding-left: 22px;
        margin-bottom: 10px;
        text-align: left;
        color: whitesmoke;
        border: transparent 1px solid;
      }

      .activeButton {
        background-color: #4873A1;
        transition: all .5s ease-in-out;
        border: #0b3e6f 1px solid;
      }

      & ~ div {
        width: 0;
        height: 0;
        line-height: 1.25;
        transition: all .3s ease-in-out;
        overflow: hidden;

        p {
          padding-bottom: 10px;
        }
      }
    }

    .activateMyDiv {
      width: 100% !important;
      height: 100% !important;
      padding: 8px;
    }
  }
}

#task5 {
  padding: 16px;

  .news {
    display: grid;
    max-width: 666px;
    height: 175px;
    overflow: hidden;
    margin: 0 auto;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-bottom: 1px black solid;
    transition: all .5s ease-in-out;


    &:last-child {
      border-bottom: 1px gray solid;
    }

    button {
      justify-self: end;
      border: #0b3e6f 1px solid;
      border-radius: 3px;
      width: 100px;
      height: 25px;
      line-height: 23px;
    }

    div:first-child {
      font-weight: 800;
      font-size: 1.2rem;
    }

    div:last-child {
      padding: 5px 0 15px;
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
  .delAnim{
    height: 1px;
    transition: all .5s ease-in-out;
    opacity: .2;
    border: none;
  }
}
#task6{
  width: 666px;
  margin: 30px auto;
  progress{
    width: 160px;
    display: block;
    margin: 0 auto;
  }
  button{
    width: 160px;
    display: block;
    margin: 0 auto;
    background-color: #8AB4F8;
    color: whitesmoke;
    letter-spacing: 0.3em;
  }
}