main {
  .main-wrap {
    position: relative;
    max-width: 1454px;
    max-height: 1190px;
    margin: 20px auto;
    border: 1px solid #e7e7e7;
    padding: 3.4% 3.6%;
    @include phone {
      margin: 20px auto 10%;
      display: flex;
      flex-flow: column-reverse;
      padding: 6% 2%;
    }
    @include nedophone {
      margin: 20px auto 20%;
      border: none;

    }

    .just-dots {
      position: absolute;
      left: 0;
      top: -60px;
      @include nedophone {
        width: 279px;
        height: 48px;
        top: -35px;
        left: auto;
        right: 50%;
        transform: translateX(49%);
      }


      &:last-child {
        display: none;
        top: auto;
        bottom: -60px;
        left: 50%;
        transform: translateX(-52%);
        position: absolute;
        @include phone {
          display: block;
          bottom: -30px;
        }
      }
    }

    p {
      padding-bottom: 4.1%;
      line-height: 1.8;
      letter-spacing: 0.039em;
      max-width: 1313px;
      display: block;
      margin: 0 auto;
      @include ms_500(1.15rem);
      @include nedophone {
        padding: 3% 0;
        line-height: 1.6;
        font-weight: 600;
        font-size: 0.9rem;
        letter-spacing: .02em;
        text-align: justify;
      }
    }

    .main-wrap__video {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      height: 0;
      @include laphone {
        height: 171px;
        margin-top: 2%;
      }

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

section.catalog {
  .col-xl-12 {
    @include nedophone {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .catalog-wrap {
    max-width: 1454px;
    margin: 0 auto;


    .catalog-slider {
      position: relative;
      margin: 0 auto;

      .carousel {
        & div {
          width: auto;

          .image-info {
            display: none;
          }

          img {
            width: 400px;
            margin: 0 auto;
            @include nofhd {
              width: 350px;
            }
            @include desktop {
              width: 320px;
              height: 100%;
              object-fit: cover;
            }
            @include tablet {
              width: 250px;
            }
            @include phone {
              width: 200px;
            }
            @include nedophone {
              width: 150px;
            }
          }
        }
      }

      .slick-slide {
        margin: 0 -71px;
        transition: all 0.5s;
        transform: scale(.6);
        max-height: 818px;
        position: relative;
        filter: blur(10px);
        @include nofhd {
          height: 100%;
        }
      }

      .slick-slide.slick-current.slick-active {
        filter: blur(0);
        transform: scale(1);
        width: 300px;
      }

      .controls-wrapper {
        display: flex;
        position: relative;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 2%;
        @include phone {
          height: 150px;
          flex-flow: column nowrap;
        }

        .about-image {
          @include phone {
            transform: translateY(70px);
            width: 100%;
            text-align: center;
          }
        }

        .slider-controls-wrapper {
          align-self: center;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: flex;
          align-items: center;
          @include tablet {
            top: 2%;
            transform: translate(-50%, 0);
          }
          @include nedophone {
            top: 7%;
          }

          .slider-controls {
            margin: 0 20px;

            button {
              background: #fff;
              border: none;
              cursor: pointer;
              outline: 0;
            }
          }

          .slider-controls.left {
            transform: rotate(180deg);
          }
        }

        .paging {
          display: flex;
          align-items: center;
          @include nedophone {
            height: 170px;
            flex-flow: column nowrap;
            justify-content: center;
          }
          @include phone {
            display: none;
          }
        }

        .pages {
          display: flex;
          align-items: center;
          justify-content: center;
          @include nedophone {
            display: none
          }

          .pagingInfo {
            letter-spacing: 0.9px;
            text-align: left;
            color: #000;
            font-size: calc(16px + 0.73vw);
            @include nedophone {
              margin: 0;
            }
          }

          .pagingInfo-2 {
            text-align: left;
            color: #000;
            margin-right: 36px;
            font-size: calc(14px + 0.2vw);
            letter-spacing: 1.5px;
            @include desktop {
              margin-right: 1%;
            }
            @include nedophone {
              margin: 0;
            }
          }
        }

        .back-right {
          img {
            @include tablet {
              width: 250px;
            }
          }
        }
      }
    }
  }
}