section#offers {

  @include desktop {
    padding: 30px 19.55%;

    @include nofhd {
      padding: 30px 9%;
    }
  }

  .offer-header {

    h3 {
      @include ms_900(23px);
      color: #1b242f;
      text-align: left;
      text-transform: uppercase;
      @include tablet{
        text-align: center;
      }
    }
  }

  .offers-item {
    transition: all .4s ease;

    .offers-item__img {
      width: 168px;
      height: 168px;
      margin: auto;
      border-radius: 50%;
      position: relative;
      z-index: -5;
      transition: all .4s ease;

      &.bg-image1 {
        background-image: url("../img/icons/offr1.png");
        background-size: cover;
        box-shadow: 0 0 25px #269ee4;
      }

      &.bg-image2 {
        background-image: url("../img/icons/offr2.png");
        background-size: cover;
        box-shadow: 0 0 25px #9a8d83;
      }

      &.bg-image3 {
        background-image: url("../img/icons/offr3.png");
        background-size: cover;
        box-shadow: 0 0 25px #269ee4;

      }

      &.bg-image4 {
        background-image: url("../img/icons/offr4.png");
        background-size: cover;
        box-shadow: 0 0 25px #9a8d83;
      }

      .offers-item__imgtext {
        display: block;
        position: absolute;
        text-transform: uppercase;
        letter-spacing: 0.15em;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid rgba(255, 250, 250, 0.52);
        width: 133px;
        height: 133px;
        border-radius: 50%;
        text-align: center;
        line-height: 133px;
        @include ms_700(14px);
        color: transparent;
        z-index: 99;
        transition: all .4s ease;

      }

    }
    &:hover .offers-item__imgtext {
      background-color: #fff;
      color: #000 !important;
      mix-blend-mode: screen;
      cursor: pointer;
      transition: all .4s ease;
    }
    &:hover .offers-item__add{
        cursor: pointer;
        background-color: #235999;
        color: snow;
    }
  }

  .offers-item__name {
    @include ms_900(16px);
    text-transform: uppercase;
    text-align: center;
    color: #235999;
    padding-top: 35px;
  }

  .offers-item__text {
    @include ms_300(15px);
    text-align: center;
    color: #323e44;
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .offers-item__add {
    @include ms_300(19px);
    display: block;
    text-align: center;
    border-radius: 50%;
    color: #235999;
    width: 27px;
    height: 27px;
    line-height: 26px;
    margin: 0 auto;
    border: 1px solid #235999;
    transition: all .4s ease;


  }

}

