/*=====================Fonts=====================*/
@import "fonts";

/*==================Custom styles================*/
@import "custome";

/*================== modal styles================*/
//@import "modal";

/*==================Adaptive styles================*/
@import "_adaptive_index";

/*==================Header styles================*/
@import "_s0-header.scss";

/*==================mypage styles================*/
@import "_s1-mainPage.scss";

/*==================EVENTS page================*/

@import "_2-s1-events.scss";

/*==================Header styles================*/
//@import "_footer.scss";


