<section id="messages-page">

    <div class="container-xl">

        @@include('_navigation.html')

        <section id="message-content">

            <div class="message-content__list">
                <div class="message-content__list_item current">
                    <div class="user-avatar"><img src="img/ico/avatar_1.png" alt="user avatar"></div>
                    <div class="user-name">Pranav Talley</div>
                    <div class="user-new-messages"><span> </span></div>
                    <div class="user-message-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error,
                        rerum.
                    </div>
                </div>
                <div class="message-content__list_item">
                    <div class="user-avatar"><img src="img/ico/avatar_2.png" alt="user avatar"></div>
                    <div class="user-name">Serena Perkins</div>
                    <div class="user-new-messages"><span class="active"> 3</span></div>
                    <div class="user-message-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere?
                    </div>
                </div>
                <div class="message-content__list_item">
                    <div class="user-avatar"><img src="img/ico/avatar_3.png" alt="user avatar"></div>
                    <div class="user-name">Lyndsey Thompson</div>
                    <div class="user-new-messages"><span> </span></div>
                    <div class="user-message-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est
                        inventore nobis vero.
                    </div>
                </div>
                <div class="message-content__list_item">
                    <div class="user-avatar"><img src="img/ico/avatar_4.png" alt="user avatar"></div>
                    <div class="user-name">Nell Choi</div>
                    <div class="user-new-messages"><span class="active">1</span></div>
                    <div class="user-message-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum
                        excepturi odio officia optio placeat, quasi.
                    </div>
                </div>
                <div class="message-content__list_item">
                    <div class="user-avatar"><img src="img/ico/avatar_1.png" alt="user avatar"></div>
                    <div class="user-name">Nate Oakley</div>
                    <div class="user-new-messages"><span> </span></div>
                    <div class="user-message-info">Lorem ipsum dolor sit amet.
                    </div>
                </div>
                <div class="message-content__list_item">
                    <div class="user-avatar"><img src="img/ico/avatar_3.png" alt="user avatar"></div>
                    <div class="user-name">Amy-Louise Mcclure</div>
                    <div class="user-new-messages"><span> </span></div>
                    <div class="user-message-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse.
                    </div>
                </div>
                <div class="message-content__list_item">
                    <div class="user-avatar"><img src="img/ico/avatar_4.png" alt="user avatar"></div>
                    <div class="user-name">Ralph John</div>
                    <div class="user-new-messages"><span> </span></div>
                    <div class="user-message-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti
                        illum in minima unde.
                    </div>
                </div>
                <div class="message-content__list_item">
                    <div class="user-avatar"><img src="img/ico/avatar_2.png" alt="user avatar"></div>
                    <div class="user-name">Sample Guy</div>
                    <div class="user-new-messages"><span> </span></div>
                    <div class="user-message-info">Lorem ipsum dolor sit amet, consectetur adipisicing.
                    </div>
                </div>
                <div class="message-content__list_item">
                    <div class="user-avatar"><img src="img/ico/avatar_1.png" alt="user avatar"></div>
                    <div class="user-name">Nate Oakley</div>
                    <div class="user-new-messages"><span> </span></div>
                    <div class="user-message-info">Lorem ipsum dolor sit amet.
                    </div>
                </div>
                <div class="message-content__list_item">
                    <div class="user-avatar"><img src="img/ico/avatar_3.png" alt="user avatar"></div>
                    <div class="user-name">Amy-Louise Mcclure</div>
                    <div class="user-new-messages"><span> </span></div>
                    <div class="user-message-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse.
                    </div>
                </div>
                <div class="message-content__list_item">
                    <div class="user-avatar"><img src="img/ico/avatar_4.png" alt="user avatar"></div>
                    <div class="user-name">Ralph John</div>
                    <div class="user-new-messages"><span> </span></div>
                    <div class="user-message-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti
                        illum in minima unde.
                    </div>
                </div>
                <div class="message-content__list_item">
                    <div class="user-avatar"><img src="img/ico/avatar_2.png" alt="user avatar"></div>
                    <div class="user-name">Sample Guy</div>
                    <div class="user-new-messages"><span> </span></div>
                    <div class="user-message-info">Lorem ipsum dolor sit amet, consectetur adipisicing.
                    </div>
                </div>
                <div class="message-content__list_item">
                    <div class="user-avatar"><img src="img/ico/avatar_1.png" alt="user avatar"></div>
                    <div class="user-name">Nate Oakley</div>
                    <div class="user-new-messages"><span> </span></div>
                    <div class="user-message-info">Lorem ipsum dolor sit amet.
                    </div>
                </div>
                <div class="message-content__list_item">
                    <div class="user-avatar"><img src="img/ico/avatar_3.png" alt="user avatar"></div>
                    <div class="user-name">Amy-Louise Mcclure</div>
                    <div class="user-new-messages"><span> </span></div>
                    <div class="user-message-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse.
                    </div>
                </div>
                <div class="message-content__list_item">
                    <div class="user-avatar"><img src="img/ico/avatar_4.png" alt="user avatar"></div>
                    <div class="user-name">Ralph John</div>
                    <div class="user-new-messages"><span> </span></div>
                    <div class="user-message-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti
                        illum in minima unde.
                    </div>
                </div>
                <div class="message-content__list_item">
                    <div class="user-avatar"><img src="img/ico/avatar_2.png" alt="user avatar"></div>
                    <div class="user-name">Sample Guy</div>
                    <div class="user-new-messages"><span> </span></div>
                    <div class="user-message-info">Lorem ipsum dolor sit amet, consectetur adipisicing.
                    </div>
                </div>
                <div class="message-content__list_item">
                    <div class="user-avatar"><img src="img/ico/avatar_1.png" alt="user avatar"></div>
                    <div class="user-name">Nate Oakley</div>
                    <div class="user-new-messages"><span> </span></div>
                    <div class="user-message-info">Lorem ipsum dolor sit amet.
                    </div>
                </div>
                <div class="message-content__list_item">
                    <div class="user-avatar"><img src="img/ico/avatar_3.png" alt="user avatar"></div>
                    <div class="user-name">Amy-Louise Mcclure</div>
                    <div class="user-new-messages"><span> </span></div>
                    <div class="user-message-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse.
                    </div>
                </div>
                <div class="message-content__list_item">
                    <div class="user-avatar"><img src="img/ico/avatar_4.png" alt="user avatar"></div>
                    <div class="user-name">Ralph John</div>
                    <div class="user-new-messages"><span> </span></div>
                    <div class="user-message-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti
                        illum in minima unde.
                    </div>
                </div>
                <div class="message-content__list_item">
                    <div class="user-avatar"><img src="img/ico/avatar_2.png" alt="user avatar"></div>
                    <div class="user-name">Sample Guy</div>
                    <div class="user-new-messages"><span> </span></div>
                    <div class="user-message-info">Lorem ipsum dolor sit amet, consectetur adipisicing.
                    </div>
                </div>
                <div class="message-content__list_item">
                    <div class="user-avatar"><img src="img/ico/avatar_1.png" alt="user avatar"></div>
                    <div class="user-name">Nate Oakley</div>
                    <div class="user-new-messages"><span> </span></div>
                    <div class="user-message-info">Lorem ipsum dolor sit amet.
                    </div>
                </div>
                <div class="message-content__list_item">
                    <div class="user-avatar"><img src="img/ico/avatar_3.png" alt="user avatar"></div>
                    <div class="user-name">Amy-Louise Mcclure</div>
                    <div class="user-new-messages"><span> </span></div>
                    <div class="user-message-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse.
                    </div>
                </div>
                <div class="message-content__list_item">
                    <div class="user-avatar"><img src="img/ico/avatar_4.png" alt="user avatar"></div>
                    <div class="user-name">Ralph John</div>
                    <div class="user-new-messages"><span> </span></div>
                    <div class="user-message-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti
                        illum in minima unde.
                    </div>
                </div>
                <div class="message-content__list_item">
                    <div class="user-avatar"><img src="img/ico/avatar_2.png" alt="user avatar"></div>
                    <div class="user-name">Sample Guy</div>
                    <div class="user-new-messages"><span> </span></div>
                    <div class="user-message-info">Lorem ipsum dolor sit amet, consectetur adipisicing.
                    </div>
                </div>

            </div>

            <div class="message-content__window">

                <div class="message-content__window__list">

                    <div class="message-content__list__inbox">
                        <img src="img/ico/avatar_1.png" width="64" height="64" alt="friend avatar">
                        <div class="mess-text">
                            <div class="friend-name">Pranav Talley <span>12:45:34</span></div>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium
                            aspernatur atque distinctio ex facere facilis libero quod tempora tempore?
                        </div>
                    </div>

                    <div class="message-content__list__send">
                        <div class="mess-text">
                            <div class="my-profile-name">Luella Hubbard<span>12:45:34</span></div>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dicta
                            dignissimos ducimus expedita, illum nihil.
                        </div>
                        <img src="img/ico/av_64.png" width="64" height="64" alt="my profile avatar">
                    </div>

                    <div class="message-content__list__inbox">
                        <img src="img/ico/avatar_1.png" width="64" height="64" alt="friend avatar">
                        <div class="mess-text">
                            <div class="friend-name">Pranav Talley <span>12:45:34</span></div>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium
                            aspernatur atque distinctio ex facere facilis libero quod tempora tempore?
                        </div>
                    </div>

                    <div class="message-content__list__send">
                        <div class="mess-text">
                            <div class="my-profile-name">Luella Hubbard<span>12:45:34</span></div>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dicta
                            dignissimos ducimus expedita, illum nihil.
                        </div>
                        <img src="img/ico/av_64.png" width="64" height="64" alt="my profile avatar">
                    </div>

                </div>

                <form class="send-message-form">
                    <label for="input-message-text" class="d-none" ></label>
                    <input type="text" id="input-message-text" placeholder="Message">
                    <button type="submit"><i class="fas fa-paper-plane"></i></button>

                </form>
            </div>

        </section>

    </div>
</section>