
<section class="my-profile">
    <h2>Мой профиль <br>
        <span>привет, <span id="input-user-name"></span></span></h2>

    <form>
        <div>
            <label for="first-name">Имя:</label>
            <input id="first-name" type="text">

            <label for="last-name">Фамилия:</label>
            <input id="last-name" type="text">
        </div>
        <div>
            <label for="birth">Дата рождения:</label>
            <input id="birth" type="date">
            <label for="gender">Пол:</label>
            <select name="gender" id="gender">
                <option value="Male">М</option>
                <option value="Female">Ж</option>
                <option value="nou">Не определился</option>
            </select>
        </div>

        <div>
            <label for="phone">Телефон:</label>
            <input id="phone" type="text">

            <label for="skyp">Скайп:</label>
            <input id="skyp" type="text">
        </div>
        <div>
            <button id="save-profile">Сохранить</button>
        </div>
    </form>
</section>