<section class="my-profile">
    <h2>Мой профиль <br>
        <span id="input-user-name"></span>
    </h2>

    <div class="user-form-wrap">
        <form id="more-user-info">
            <div>
                <label for="first-name">Имя: <span>*</span> </label>
                <input id="first-name" name="first$name" type="text" required>

                <label for="last-name">Фамилия: <span>*</span> </label>
                <input id="last-name" name="last$name" type="text" required>
            </div>
            <div>
                <label for="birth">Дата рождения: <span>*</span> </label>
                <input id="birth" name="birth" type="date" required>
                <label for="gender">Пол:</label>
                <select name="gender" id="gender">
                    <option value="nou">Не определился</option>
                    <option value="Male">М</option>
                    <option value="Female">Ж</option>
                </select>
            </div>

            <div>
                <label for="phone">Телефон: <span>*</span> </label>
                <input id="phone" name="phone" type="text" required>

                <label for="skyp">Скайп:</label>
                <input id="skyp" name="skyp" type="text" value=" ">
            </div>
            <div>
                <button id="save-profile" type="submit">Сохранить</button>
            </div>
        </form>
        <div class="after-save-wrap">

        </div>
    </div>

    <div class="security">
        <h3>Безопасность!</h3>
        <form>
            <div>
                <label>Ваша почта:</label>
                <input type="text" id="your-mail" disabled>
            </div>
            <div>
                <label>Ваш пароль:</label>
                <input type="text" id="your-pass" disabled>
            </div>
        </form>
    </div>
    <h3>История поисков</h3>

    <div class="history">
        <div class="search-results">Пока пусто!</div>
    </div>
</section>