<footer id="footer">
    <div class="footer-top-wrap">
        <div class="container-xl">
            <div class="footer-top">
                <div class="row justify-content-between">

                    <div class="col-lg-4 col-sm-6 ">
                        <div class="footer-top__item">
                            <h4>Contact</h4>
                            <p>Station M Box 231, 100 639 5<sup>th</sup> Ave SW <br>
                                Calgary,AB <br>
                                T2P 2H6</p>
                            <a href="tel:5872009067">Phone: <span>(587)200-9067</span></a>
                            <a href="tel:4034103854">Fax: <span>(403)410-3854</span></a>
                            <a href="tel:8334571478">24 Hour Support: <span>(833)457-1478</span> </a>
                            <a href="mailto:info@ctechgroup.net">Email: <span>info@ctechgroup.net</span> </a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 ">
                        <div class="footer-top__item">
                            <h4>Hours of Operation</h4>
                            <div class="table-wrap">
                                <table>
                                    <tr>
                                        <td>Monday:</td>
                                        <td>8:30AM-5PM</td>
                                    </tr>
                                    <tr>
                                        <td>Tuesday:</td>
                                        <td>8:30AM-5PM</td>
                                    </tr>
                                    <tr>
                                        <td>Wednesday:</td>
                                        <td>8:30AM-5PM</td>
                                    </tr>
                                    <tr>
                                        <td>Thursday:</td>
                                        <td>8:30AM-5PM</td>
                                    </tr>
                                    <tr>
                                        <td>Friday:</td>
                                        <td>8:30AM-5PM</td>
                                    </tr>
                                    <tr>
                                        <td>Saturday:</td>
                                        <td>Closed</td>
                                    </tr>
                                    <tr>
                                        <td>Sunday:</td>
                                        <td>Closed</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="footer-top__news">
                            <h4>Words of Wisdom</h4>

                            <div class="footer-top__news__item">
                                <a href="/">3 Tips Will Save Your Computer <br>
                                    from Ransomware</a>
                                <p>Quick Tips to Save Your Computer from <br> Ransomware</p>
                                <a href="#">Read the post</a>
                            </div>
                            <div class="footer-top__news__item">
                                <a href="/">3 Tips Will Save Ypur Computer <br>
                                    from Ransomware</a>
                                <p>Quick Tips to Save Your Computer from <br> Ransomware</p>
                                <a href="#">Read the post</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom-wrap">
        <div class="container">
            <div class="row justify-content-between ">

                <div class="col-lg-3">
                    <div class="footer-bottom-wrap__item">
                        <h4>Latest Tweets</h4>
                        <p>Tweets by</p>
                        <a href="/">@CTECHGroup</a>
                    </div>
                </div>

                <div class="col-lg-5 col-sm-6">
                    <div class="footer-bottom-wrap__item">

                        <p>
                            Big is definitely not always better when <br>
                            it comes to IT support. That was the <br>
                            conclusion of one local business at the start of 2019...
                        </p>
                        <a href="/ ">https://t.co/il98l47cbL</a>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <div class="footer-bottom-wrap__item">

                        <p>
                            Do You Need a Server? <br>
                            Without a server, you would need to <br>
                            keep adding individual workstation <br>
                            onto your...
                        </p>
                        <a href="/ ">https://t.co/eVySmlEAEU</a>

                        <div class="twitter-bottom">
                            <a href="/ ">Tweet Us</a>
                            |
                            <a href="/ ">View on Twitter</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="footer-under-bottom">
        <div class="container-fluid">
            <div class="row justify-content-between ">

                <p>Copyright &#169;CTECH Consulting Group. All Rights Reserved.</p>
                <div class="footer-bottom__links">
                    <a href="/ ">Site Map</a>
                    |
                    <a href="/ ">Private policy</a>
                </div>
            </div>
        </div>
    </div>


</footer>