<footer id="footer">

    <div class="subs-wrap">

        <div class="sub-wrap-logo">
            <div class="logo-circle">
                <div class="logo-img"><i class="fas fa-shopping-basket"></i></div>
            </div>
            <div class="sub-wrap-text">Подпишитесь на нашу рассылку <br>
                <span>Чтобы быть в курсе последниъ скидок </span></div>
        </div>

        <div class="subs-mail">
            <label for="subscribe-email" class="hide-label"></label>
            <input type="email" id="subscribe-email" placeholder="Введите e-mail">
        </div>

        <div class="subs-button">
            <button type="button">Подписаться</button>
        </div>

    </div>
    <div class="footer-links">

        <div class="footer-column">
            <a href="#header"  class="scrollto">
                <div class="footer-logo">
                    <div class="inside-logo-body">ПО</div>
                </div>
            </a>
            <div class="footer-description">Информация, опубликованная на Сайте, носит <br>
                общий характер и служит для ознакомительных <br>
                целей, не является публичной офертой
            </div>

        </div>

        <div class="footer-column">
            <div class="contacts">АДРЕС <br>
                <span>г. Киев, Проспект Тараса Шевченка, 16 </span></div>
            <div class="phone">ТЕЛЕФОН <br>
                <a href="tel:+380935087777">+8 (093) 508-77-77 </a>
            </div>
        </div>

        <div class="footer-column">
            <div class="work-hour">РЕЖИМ РАБОТЫ <br>
                <span>С 9 до 21 без выходных</span>
            </div>
            <div class="footer-main-mail">
                E-MAIL <br>
                <a href="mail:sale@plastika-okon.gmail.com">sale@plastika-okon.gmail.com</a></div>
        </div>

        <div class="footer-column">
            <div class="be-friends">ДАВАЙТЕ ДРУЖИТЬ</div>
            <div class="footer-socials">
                <a href="/">
                    <div class="soc1"><i class="fab fa-vk"></i></div>
                </a>
                <a href="/">
                    <div class="soc2"><i class="fab fa-facebook-f"></i></div>
                </a>
                <a href="/">
                    <div class="soc3"><i class="fab fa-instagram"></i></div>
                </a>
                <a href="/">
                    <div class="soc4"><i class="fab fa-youtube"></i></div>
                </a>
            </div>
        </div>

    </div>
</footer>