<nav id="navigation">

    <ul>
        <li>
            <a href="index.html">
                <div class="menu-ico"><i class="fas fa-id-card-alt"></i></div>
                <div class="menu-text"> #1 Task
                    <span></span></div>
            </a>
        </li>

        <li>
            <a href="index2.html">
                <div class="menu-ico"><i class="far fa-newspaper"></i></div>
                <div class="menu-text">#2 Task
                    <span></span></div>
            </a>
        </li>

        <li>
            <a href="index3.html">
                <div class="menu-ico"><i class="fas fa-envelope"></i></div>
                <div class="menu-text">#3 Task
                    <span  ></span></div>
            </a>
        </li>

        <li>
            <a href="index4.html">
                <div class="menu-ico"><i class="fas fa-wheelchair"></i></div>
                <div class="menu-text">#4 Task
                    <span></span></div>
            </a>
        </li>

        <li>
            <a href="index5.html">
                <div class="menu-ico"><i class="far fa-calendar"></i></div>
                <div class="menu-text">#5 Task
                    <span></span></div>
            </a>
        </li>

        <li>
            <a href="index6.html">
                <div class="menu-ico"><i class="fab fa-steam"></i></div>
                <div class="menu-text">#6 Task
                    <span></span></div>
            </a>
        </li>

    </ul>

</nav>