<div class="container">
    <div class="row">
        <div class="col">
            <div class="game-wrap">
                <h1>Найди клад</h1>
                <div id="game-map">
                    <div id="message">Начнем Игру!</div>
                </div>
                <hr>
                <div class="stats">
                    <div id="hints">Уровень 1 50 попыток</div>
                    <div class="attempts">
                        Попытки:
                        <span id="att-count">0</span> /
                        <span id="max-count">50</span>
                    </div>
                    <div id="money">0 Гривень</div>
                    <button type="button">Заново!</button>
                </div>
            </div>

        </div>
    </div>
</div>