<div class="header">
    <div id="header-top">
        <div class="header-top__text">
            <a href="/">BLOG</a>
            | <a href="/">NEWS & EVENTS</a>
        </div>
        <div class="header-top__icons">
            <a href=""><i class="fab fa-facebook-f"></i></a>
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-linkedin"></i></a>
            <a href=""><i class="fab fa-youtube"></i></a>

        </div>
    </div>
    <div id="header-bottom">

        <div class="logo-container">
            <img src="img/CTECH_logo_new.png" alt="main logo">
        </div>
        <nav>
            <a href="tel:5872009067">(587) 200-9067</a>
            <ul>
                <li><a href=""> Home </a></li>
                <li><a href=""> Meet Us </a></li>
                <li><a href=""> It Services </a></li>
                <li><a href=""> Our Clients </a></li>
                <li><a href=""> Tech Insights </a></li>
                <li><a href=""> Contact Us </a></li>
                <li class="hamburger-hide-but">
                    <div class="hamburger-activation-but">
                        <button class="hamburger hamburger--squeeze js-hamburger" type="button" aria-label="Menu"
                                aria-controls="navigation">
							<span class="hamburger-box">
								<span class="hamburger-inner"></span>
							</span>
                        </button>
                    </div>
                </li>
            </ul>
            <nav id="Hamburger-menu" style="display: none;">
                <div class="container">
                    <div class="row text-center">
                        <ul id="hamburger__sidebar" class="">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21 animated fadeInDown">
                                <a href="#page-title"  class="scrollto">Home</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21 animated fadeInDown">
                                <a href="#page-title"  class="scrollto">Meet Us</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21 animated fadeInDown">
                                <a href="#page-title"  class="scrollto">It Services</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20 animated fadeInDown">
                                <a href="#page-title"  class="scrollto">Our Clients</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-14 current_page_item menu-item-19 animated fadeInDown">
                                <a href="#page-title"  class="scrollto" >Contact Us</a>
                            </li>

                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17 animated fadeInDown">
                                <a href="#page-title"  class="scrollto">Контакты</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </nav>

    </div>
</div>
