<div class="first">
    <h3>1</h3>
    <label for="user-age">Сколько Вам лет? (0-120):</label>
    <input type="number" id="user-age" placeholder="0-120">
    <input disabled id="result-one" type="text">
    <button class="do-something" onclick="First()">Жми!</button>
    <hr>
</div>

<div class="second">
    <h3>2</h3>
    <label for="user-number">Введите число от 0-9:</label>
    <input type="number" id="user-number" placeholder="0-9">
    <input disabled id="result-two" type="text">
    <button class="do-something" onclick="Second()">Жми!</button>
    <hr>
</div>

<div class="third">
    <h3>3</h3>
    <label for="three-digit-number">Введите трехзначное число:</label>
    <input type="number" id="three-digit-number" placeholder="123">
    <label for="check-number">Введите число для проверки:</label>
    <input type="number" id="check-number" placeholder="1">
    <input disabled id="result-three" type="text">
    <button class="do-something" onclick="Third()">Жми!</button>
    <hr>
</div>

<div class="fourth">
    <h3>4</h3>
    <label for="year-check">Проверка на высокосность! Введите год:</label>
    <input type="number" id="year-check" placeholder="2007">
    <input disabled id="result-four" type="text">
    <button class="do-something" onclick="Fourth()">Жми!</button>
    <hr>
</div>

<div class="fifth">
    <h3>5</h3>
    <label for="poli-check">Тест на Полиндром, введите пятизначное число:</label>
    <input type="number" id="poli-check" placeholder="12345">
    <input disabled id="result-five" type="text">
    <button class="do-something" onclick="Fifth()">Жми!</button>
    <hr>
</div>

<div class="sixth">
    <h3>6</h3>
    <label for="USD">Конвертер Валют: </label>
    <input type="number" id="USD" placeholder="$, USD, доллары">
    <div class="dollarV">
        <span> USD ==> </span>
        <select name="converter" id="select-currency">
            <option id="EUR" data-currencyName='EUR' value="0.93">EUR</option>
            <option id="UAH" data-currencyName='UAH' value="27.24">UAH</option>
            <option id="AZN" data-currencyName='AZN' value="1.69">AZN</option>
        </select>
    </div>

    <input disabled id="result-six" type="text">
    <button class="do-something" onclick="Sixth()">Жми!</button>
    <hr>
</div>
<div class="seventh">
    <h3>7</h3>
    <label for="buy-sum">Сума покупки: (скидка: от 200 до 300 – скидка 3%, от 300
        до 500 – 5%, от 500 и выше – 7%.)</label>
    <input type="number" id="buy-sum" placeholder="100">
    <input disabled id="result-seven" type="text">
    <button class="do-something" onclick="Seventh()">Жми!</button>
    <hr>
</div>

<div class="eighth">
    <h3>8</h3>
    <label for="circle-length">Введите Длинну Окружности:</label>
    <input type="number" id="circle-length" placeholder="123">
    <label for="square-p">Введите Периметр Квадрата:</label>
    <input type="number" id="square-p" placeholder="321">
    <input disabled id="result-eighth" type="text">
    <button class="do-something" onclick="Eighth()">Жми!</button>
    <hr>
</div>

<div class="ninth">
    <h3>9</h3>
    <h4>Пройдите тест по ссылке снизу</h4>
    <a href="test.html">ТЕСТ ТУТ!</a>
    <hr>
</div>

<div class="tenth">
    <h3>10</h3>

    <label>Введите дату, <br> к которой правильно прибавится один день</label>

    <div class="row justify-content-center">

        <div class="col-md-auto">
            <label for="date-value">Число:</label>
            <input type="number" id="date-value" placeholder="день">
        </div>

        <div class="col-md-auto">
            <label for="month-value">Месяц:</label>
            <input type="number" id="month-value" placeholder="месяц">
        </div>

        <div class="col-md-auto">
            <label for="year-value">Год:</label>
            <input type="number" id="year-value" placeholder="год">
        </div>

    </div>

    <input disabled id="result-tenth" type="text">
    <button class="do-something" onclick="Tenth()">Жми!</button>
    <hr>
</div>