<section class="banners">
    <div class="banners-slider">
        <div class="banners-slider__item"><img src="./img/slider-image1.jpg" alt="SuperSprox Extend your journey"></div>
        <div class="banners-slider__item"><img src="./img/slider-image1.jpg" alt="SuperSprox Extend your journey"></div>
        <div class="banners-slider__item"><img src="./img/slider-image1.jpg" alt="SuperSprox Extend your journey"></div>
        <div class="banners-slider__item"><img src="./img/slider-image1.jpg" alt="SuperSprox Extend your journey"></div>
    </div>
</section>

<section class="offers">
    <div class="offers-wrap">
        <div class="my-slider-dots">

        </div>
        <div class="container-xl">
            <div class="row">
                <div class="col-xl-12">
                    <div class="offers-slider">


                        <div class="offers-slider__item">
                            <div class="slider__item__name">stealht</div>

                            <div class="slider__item__object">
                                <img src="./img/stealth-full-pic-rmbg.png" alt="Stealth gear">
                                <img src="./img/mob-red-gear.png" alt="Stealth gear">

                                <div class="info"><span><span>steel</span> teeth</span>
                                    Last 3 times longer <br> than an aluminum sprocket
                                </div>
                                <div class="info"><span><span>aluminum</span> core</span>
                                    Reduces rotational mass, allowing <br> faster acceleration
                                </div>
                                <div class="info"><span>stunning</span>
                                    Smart choice to upgrade the <br> performance and look of your <br> motorcycle
                                </div>
                                <div class="info"><span>system life</span>
                                    Steel teeth reduce friction on the chain,
                                    <br>helping your chain to last longer. <br>
                                    Extending system life and <br>
                                    saving money.
                                </div>
                            </div>
                        </div>

                        <div class="offers-slider__item">
                            <div class="slider__item__name">ducati</div>

                            <div class="slider__item__object">
                                <img src="./img/stealth-full-pic-rmbg.png" alt="Stealth gear">
                                <img src="./img/mob-red-gear.png" alt="Stealth gear">
                                <div class="info"><span><span>steel</span> teeth</span>
                                    Last 3 times longer <br> than an aluminum sprocket
                                </div>
                                <div class="info"><span><span>aluminum</span> core</span>
                                    Reduces rotational mass, allowing <br> faster acceleration
                                </div>
                                <div class="info"><span>stunning</span>
                                    Smart choice to upgrade the <br> performance and look of your <br> motorcycle
                                </div>
                                <div class="info"><span>system life</span>
                                    Steel teeth reduce friction on the chain,
                                    <br>helping your chain to last longer. <br>
                                    Extending system life and <br>
                                    saving money.
                                </div>
                            </div>
                        </div>

                        <div class="offers-slider__item">
                            <div class="slider__item__name">edge</div>

                            <div class="slider__item__object">
                                <img src="./img/stealth-full-pic-rmbg.png" alt="Stealth gear">
                                <img src="./img/mob-red-gear.png" alt="Stealth gear">
                                <div class="info"><span><span>steel</span> teeth</span>
                                    Last 3 times longer <br> than an aluminum sprocket
                                </div>
                                <div class="info"><span><span>aluminum</span> core</span>
                                    Reduces rotational mass, allowing <br> faster acceleration
                                </div>
                                <div class="info"><span>stunning</span>
                                    Smart choice to upgrade the <br> performance and look of your <br> motorcycle
                                </div>
                                <div class="info"><span>system life</span>
                                    Steel teeth reduce friction on the chain,
                                    <br>helping your chain to last longer. <br>
                                    Extending system life and <br>
                                    saving money.
                                </div>
                            </div>
                        </div>

                        <div class="offers-slider__item">
                            <div class="slider__item__name">custom</div>

                            <div class="slider__item__object">
                                <img src="./img/stealth-full-pic-rmbg.png" alt="Stealth gear">
                                <img src="./img/mob-red-gear.png" alt="Stealth gear">
                                <div class="info"><span><span>steel</span> teeth</span>
                                    Last 3 times longer <br> than an aluminum sprocket
                                </div>
                                <div class="info"><span><span>aluminum</span> core</span>
                                    Reduces rotational mass, allowing <br> faster acceleration
                                </div>
                                <div class="info"><span>stunning</span>
                                    Smart choice to upgrade the <br> performance and look of your <br> motorcycle
                                </div>
                                <div class="info"><span>system life</span>
                                    Steel teeth reduce friction on the chain,
                                    <br>helping your chain to last longer. <br>
                                    Extending system life and <br>
                                    saving money.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>