<section id="mainpage-content" >

    <div class="container-md container-xl">

        <nav id="navigation">

            <ul>
                <li>
                    <a href="">
                        <div class="menu-ico"><i class="fas fa-id-card-alt"></i></div>
                        <div class="menu-text">My profile
                            <span></span></div>
                    </a>
                </li>

                <li>
                    <a href="">
                        <div class="menu-ico"><i class="far fa-newspaper"></i></div>
                        <div class="menu-text">News
                            <span></span></div>
                    </a>
                </li>

                <li>
                    <a href="">
                        <div class="menu-ico"><i class="fas fa-envelope"></i></div>
                        <div class="menu-text">Messages
                            <span></span></div>
                    </a>
                </li>

                <li>
                    <a href="">
                        <div class="menu-ico"><i class="fas fa-wheelchair"></i></div>
                        <div class="menu-text">Friends
                            <span></span></div>
                    </a>
                </li>

                <li>
                    <a href="">
                        <div class="menu-ico"><i class="far fa-calendar"></i></div>
                        <div class="menu-text">Events
                            <span></span></div>
                    </a>
                </li>

                <li>
                    <a href="">
                        <div class="menu-ico"><i class="fab fa-steam"></i></div>
                        <div class="menu-text">Media
                            <span></span></div>
                    </a>
                </li>

            </ul>

        </nav>

        <div class="profile-about">
            <img src="" alt="">
            <div class="but-wrap">
                <button type="button"></button>
            </div>
        </div>

        <div class="profile-content">
            <div class="profile-content__info">

            </div>
            <div class="my-wall-item"></div>
            <div class="my-wall-item"></div>
        </div>

    </div>
</section>