<div id="page-title">
    <div class="container-fluid">
        <div class="row justify-content-center ">
            <div class="col-xl-7">
                <div class="title-wrap">
                    <h1>Is Your Organization Prepared For
                        A Potential Disruption Due To Coronavirus?</h1>
                    <div class="title-description">
                        <p>Current worldwide fears about coronavirus (COVID-19)<br>
                            have sent stock markets into decline and prompted
                            panic <br> across businesses and individuals.</p>
                        <p>
                            Employees panic when a coworker has a persistent cough. <br>
                            Parents work from home when schools or daycares
                            are <br> forced to close. Work tips are canceled for many <br> organizations
                            on high-alert.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 d-flex justify-content-center">
                <div class="consultation-form-wrap">
                    <div class="form-description">
                        <span >Yes!</span> I would like to<br>
                        schedule a no-obligation
                        consultation with a CTECH
                        Consulting Group business
                        continuity specialist.
                        <p>Fill in your information below to schedule
                        your consultation</p>
                    </div>
                    <form action="success.php" class="consultation-form">
                        <div class="form-row">
                            <div class="form-group col-md-6 mb-0">
                                <label class="label-input">First name <span>*</span></label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                <label class="label-input">Last Name <span>*</span> </label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <label class="label-input kos">Company name <span>*</span></label>
                        <input type="text" class="form-control">
                        <label class="label-input">Location <span>*</span></label>
                        <input type="text" class="form-control">
                        <label class="label-input">EMAIL Address <span>*</span></label>
                        <input type="text" class="form-control">
                        <label class="label-input">Phone number <span>*</span></label>
                        <input type="text" class="form-control">
                        <button type="submit" class="form-send-but">Sign in</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

