<section id="why">

    <div class="why-container">
        <h2 class="why-main-text">почему</h2>
        <div class="why-text">Как так вышло, что 543 <br>
            клиента обратились к нам
        </div>
    </div>




        <div class="reasons">

            <div class="reasons-container">
                <div class="reasons-container__number">750</div>
                <div class="reasons-container__text">В сутки на своем <br> производстве</div>
            </div>

            <div class="reasons-container">
                <div class="reasons-container__number">10</div>
                <div class="reasons-container__text">Работы на оконном <br> рынке России</div>
            </div>

            <div class="reasons-container">
                <div class="reasons-container__number">543</div>
                <div class="reasons-container__text">Рекомендовали наши <br> услуги знакомым</div>
            </div>

        </div>

</section>