<section id="questions">
    <p>While experts caution against panic, they also advise organizations to review <br> any plans and strategies in
        place
        to allow for social distancing.</p>
    <h2>Ask yourself these questions:</h2>
    <div class="questions-wrap">
        <div class="que1 d-flex flex-column justify-content-center align-items-center">
            <img src="img/ico/1.png" alt="question 1">
            <div class="que-description">What’s your plan in the event of a full shutdown of your operations? How will
                your employees continue to work?
            </div>
        </div>
        <div class="que2 d-flex flex-column justify-content-center align-items-center">
            <img src="img/ico/2.png" alt="question 2">
            <div class="que-description">What’s the plan if a key business unit is shut down? Are you able to recover it
                quickly? 
            </div>
        </div>
        <div class="que3 d-flex flex-column justify-content-center align-items-center">
            <img src="img/ico/3.png" alt="question 3">
            <div class="que-description">What’s the plan in the event that key members of your team are forced into a
                quarantine situation? Can they continue to function in their day-to-day roles?
            </div>
        </div>
        <div class="que4 d-flex flex-column justify-content-center align-items-center">
            <img src="img/ico/4.png" alt="question 4">
            <div class="que-description">What’s the plan if one of your remote offices is in a highly impacted part of
                the country?
            </div>
        </div>
        <div class="center-logo"><img src="img/CTECH_logo_new.png" alt=""></div>
    </div>
</section>

<!--<section id="world-map">-->
<!--    <iframe class="desktop-version"-->
<!--            src="https://gisanddata.maps.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6"-->
<!--            frameborder="0" width="100%" height="450"></iframe>-->
<!--    <iframe class="mobile-version" src="https://www.arcgis.com/apps/opsdashboard/index.html#/85320e2ea5424dfaaa75ae62e5c06e61" frameborder="0"-->
<!--            width="100%" height="450"></iframe>-->
<!--</section>-->