<main>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="main-wrap">
                    <img src="./img/dots-img.png" class="just-dots" alt="just dots">

                    <p class="stealth-info">Supersprox-stealth lives longer, without compromising weight. Steel
                        teeth last 3 times
                        longer than aluminum sprocket teeth. Aluminum core reduces rotational mass, improving
                        acceleration. The
                        patented
                        connection of the two parts, ensures safety and reliability for you and your motorcycle. No
                        other two
                        material
                        sprocket can inspire the same level of confidence and feeling of product quality. Developed
                        through racing,
                        over
                        the past 20 years and fitted to world championship bikes in street and off road.
                        Supersprox-stealth is a
                        factory-racing sprocket, available for your motorcycle. European patent #03792104.6 and US
                        patent
                        #7,481,729-B2.
                    </p>
                    <div class="main-wrap__video">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/gNZzSGtCCBI"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>

                    <img src="./img/dots-img.png" class="just-dots" alt="just dots">
                </div>
            </div>
        </div>
    </div>


</main>

<section class="catalog">
    <div class="container-lg">
        <div class="row">
            <div class="col-xl-12">
                <div class="catalog-wrap">
                    <div class="catalog-slider">
                        <div class="carousel">

                            <div>
                                <img src="./img/red.png" alt="red-star">
                                <div class="image-info">about-image1</div>
                            </div>

                            <div>
                                <img src="./img/red.png" alt="red-star">
                                <div class="image-info">about-image2</div>
                            </div>

                            <div>
                                <img src="./img/red.png" alt="red-star">
                                <div class="image-info">about-image3</div>
                            </div>

                            <div>
                                <img src="./img/red.png" alt="red-star">
                                <div class="image-info">about-image4</div>
                            </div>

                            <div>
                                <img src="./img/red.png" alt="red-star">
                                <div class="image-info">about-image5</div>
                            </div>

                            <div>
                                <img src="./img/red.png" alt="red-star">
                                <div class="image-info">about-image6</div>
                            </div>

                            <div>
                                <img src="./img/red.png" alt="red-star">
                                <div class="image-info">about-image7</div>
                            </div>

                            <div>
                                <img src="./img/red.png" alt="red-star">
                                <div class="image-info">about-image8</div>
                            </div>

                            <div>
                                <img src="./img/red.png" alt="red-star">
                                <div class="image-info">about-image9</div>
                            </div>

                            <div>
                                <img src="./img/red.png" alt="red-star">
                                <div class="image-info">about-image10</div>
                            </div>

                        </div>
                        <div class="controls-wrapper">
                            <div class="about-image">about image</div>
                            <div class="slider-controls-wrapper">
                                <div class="slider-controls left">
                                    <button type="button" class="gal-m-prev">
                                        <img src="./img/slider-arr-l.svg"
                                             alt="">
                                    </button>
                                </div>
                                <div class="slider-controls right">
                                    <button type="button" class="gal-m-next">
                                        <img src="./img/slider-arr-r.svg"
                                             alt="">
                                    </button>
                                </div>
                            </div>
                            <div class="paging">

                                <div class="pages">
                                    <div class="pagingInfo fw-bold"></div>
                                    <div class="pagingInfo-2 fw-bold"><sub>/10</sub></div>

                                </div>
                                <div class="back-right">
                                    <img src="./img/dots-img.png" class="just-dots" alt="just dots">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>