<section id="offers">

    <div class="offer-header">
        <h3> Какие услуги предоставляет <br>
            наша компания</h3>
    </div>

    <div class="container-lg mt-5 mb-4">

        <div class="row">

            <div class="col-md-3 col-sm-6 col-xs-12 mb-5">

                <div class="offers-item">
                    <div class="offers-item__img bg-image1">
                       <a href="/" class="offers-item__imgtext">подробнее</a></div>
                    <div class="offers-item__name">пластиковые окна</div>
                    <div class="offers-item__text">
                        Lorem ipsum dolor sit amet, <br>
                        consectetur adipisicing elit, sed do<br>
                        eiusmod tempor incididunt
                    </div>
                    <a href="/" class="offers-item__add">+</a>
                </div>
            </div>


            <div class="col-md-3 col-sm-6 col-xs-12 mb-5">
                <div class="offers-item">
                    <div class="offers-item__img bg-image2">
                       <a href="/" class="offers-item__imgtext">подробнее</a></div>
                    <div class="offers-item__name">остекление балконов</div>
                    <div class="offers-item__text">
                        Lorem ipsum dolor sit amet, <br>
                        consectetur adipisicing elit, sed do<br>
                        eiusmod tempor incididunt
                    </div>
                    <a href="/" class="offers-item__add">+</a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 mb-5">
                <div class="offers-item">
                    <div class="offers-item__img bg-image3">
                       <a href="/" class="offers-item__imgtext">подробнее</a></div>
                    <div class="offers-item__name">пластиковые окна</div>
                    <div class="offers-item__text">
                        Lorem ipsum dolor sit amet, <br>
                        consectetur adipisicing elit, sed do <br>
                        eiusmod tempor incididunt
                    </div>
                    <a href="/" class="offers-item__add">+</a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 mb-4">
                <div class="offers-item">
                    <div class="offers-item__img bg-image4">
                       <a href="/" class="offers-item__imgtext">подробнее</a></div>
                    <div class="offers-item__name">остекление балконов</div>
                    <div class="offers-item__text">
                        Lorem ipsum dolor sit amet, <br>
                        consectetur adipisicing elit, sed do <br>
                        eiusmod tempor incididunt
                    </div>
                    <a href="/" class="offers-item__add">+</a>
                </div>
            </div>
        </div>
    </div>
</section>