<section id="prices">


    <div class="price-title-wrap">
        <h2>ЦЕНЫ</h2>
        <div class="price-disc">
            Сколько стоит заказать <br>
            лучшие окна в мире в МКАДЕ
        </div>
    </div>

    <div class="row">
        <div class="col-xl-8">


            <div class="windows-prices-wrap">
                <img src="img/icons/window1.jpg" alt="windows icons">
                <div class="window-name">ЭСТЕСТ <br> <span>лучшее  в мире окно в МКАДе</span></div>
                <div class="just-price-solid"></div>
                <div class="price-value">6058 грн.</div>
            </div>


            <div class="windows-prices-wrap">
                <img src="img/icons/window2.jpg" alt="windows icons">
                <div class="window-name">Rehau delight-design <br> <span>лучшее  в мире окно за МКАДом</span>
                </div>
                <div class="just-price-solid"></div>
                <div class="price-value">6550 грн.</div>
            </div>

            <div class="windows-prices-wrap">
                <img src="img/icons/window1.jpg" alt="windows icons">
                <div class="window-name">ЭСТЕСТ <br> <span>лучшее  в мире окно в МКАДе</span></div>
                <div class="just-price-solid"></div>
                <div class="price-value">6058 грн.</div>
            </div>


            <div class="windows-prices-wrap">
                <img src="img/icons/window2.jpg" alt="windows icons">
                <div class="window-name">Rehau delight-design <br> <span>лучшее  в мире окно за МКАДом</span>
                </div>
                <div class="just-price-solid"></div>
                <div class="price-value">6550 грн.</div>
            </div>

        </div>

        <div class="col-xl-4">


            <div class="calcwrap">
                <h3>калькулятор стоимости <br> остекления</h3>

                <div class="calc-item-wrap1">

                    <div class="circle1">1</div>

                    <div class="type-name">Выберите тип окна</div>

                    <div class="calc-items">
                        <div class="windows" data-typewindow="Rehau Delight " data-typeWindowPrice="1000">Rehau
                            Delight
                        </div>
                        <div class="windows" data-typewindow="ЭстЭС" data-typeWindowPrice="2000">ЭстЭС</div>
                        <div class="windows" data-typewindow="Regao Pro " data-typeWindowPrice="3000">Regao Pro
                        </div>
                        <div class="windows" data-typewindow="ЭстЭС Pro " data-typeWindowPrice="4000">ЭстЭС Pro
                        </div>
                        <div class="windows" data-typewindow="Regao DELUXE" data-typeWindowPrice="5000">Regao
                            DELUXE
                        </div>
                        <div class="windows" data-typewindow="ЭстЭС DELUXE" data-typeWindowPrice="6000">ЭстЭС
                            DELUXE
                        </div>
                    </div>
                </div>


                <div class="calc-item-wrap1">

                    <div class="circle1">2</div>

                    <div class="type-name typeappname">Выбирите дополнения</div>

                    <div class="calc-items2">
                        <div class="windows" data-typeAppName="Дополнительная функция 1" data-typeAppPrice="100">
                            <img src="img/111.png" alt="111"> <span>+1</span>
                        </div>
                        <div class="windows" data-typeAppName="Дополнительная функция 2" data-typeAppPrice="200">
                            <img src="img/111.png" alt="111"> <span>+2</span>
                        </div>
                        <div class="windows" data-typeAppName="Дополнительная функция 3" data-typeAppPrice="300">
                            <img src="img/111.png" alt="111"> <span>+3</span>
                        </div>
                        <div class="windows" data-typeAppName="Дополнительная функция 4" data-typeAppPrice="400">
                            <img src="img/111.png" alt="111"> <span>+4</span>
                        </div>
                        <div class="windows" data-typeAppName="Дополнительная функция 5" data-typeAppPrice="500">
                            <img src="img/111.png" alt="111"> <span>+5</span>
                        </div>
                        <div class="windows" data-typeAppName="Дополнительная функция 6" data-typeAppPrice="600">
                            <img src="img/111.png" alt="111"> <span>+6</span>
                        </div>
                    </div>
                </div>

                <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target=".bd-example-modal-lg">Рассчитать
                </button>

                <!--                    modal windows-->

                <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                     aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">


                            <div class="price-list">Выбранные окна и дополнения
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="selected-window">

                                <div class="selected-window__container">
                                    <div class="selected-window__topic"> Тип окна</div>
                                    <div class="selected-window__type">
                                        <div class="img-container">
                                            <img src="img/icons/window1.jpg" alt="window type">
                                        </div>
                                        <div class="window-name">Rehau Delight</div>

                                        <div class="counter">
                                            <span class="minus">-</span>
                                            <input type="text" id="curval" value="1"/>
                                            <span class="plus">+</span>
                                        </div>

                                        <span><input type="text" id="window-price" value="1000" disabled></span>

                                    </div>

                                    <div class="selected-window__apps">
                                        <div class="apps">
                                            <div class="apps-topic">Выбранные дополнения</div>
                                            <div class="apps-name">Дополнительная функция 1</div>
                                            <span><input type="text" id="app-price" value="100" disabled> </span>
                                        </div>
                                    </div>

                                    <div class="total-price-wrap">
                                        <div class="total-price-text"> Всего</div>
                                        <span><input type="text" id="total-price" value="0" disabled></span>
                                        <div class="submit-button">
                                            <button type="button" data-dismiss="modal"
                                                    aria-label="Close" data-toggle="modal" data-target="#exampleModal">
                                                Отправить
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">

                    <div class="modal-dialog" role="document">

                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Отправить
                                    данные на пошту?</h5>
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <form class="output-form" action="success.php" method="POST">

                                    <label class="col-form-label">Ваш
                                        email:</label>
                                    <input type="email" name="email" required
                                           class="form-control"
                                           placeholder="vasiliypetrovi4@rambler.ua">


                                    <label class="col-form-label">Ваше имя:</label>
                                    <input type="text" name="name" required
                                           class="form-control"
                                           placeholder="Ваня">

                                    <label class="col-form-label">Телефон:</label>
                                    <input type="tel" name="tel" required id="tel"
                                           class="form-control"
                                           placeholder="Номер телефона">

                                    <label for="message-text" class="col-form-label">Дополнительные
                                        пожелания:</label>
                                    <textarea class="form-control" id="message-text"
                                              placeholder="отправьте окно новой поштой аккуратно"></textarea>

                                    <input type="hidden" name="price" value="" id="price">
                                    <input type="hidden" name="window-type" value="" id="window-type">
                                    <input type="hidden" name="app-type" value="" id="app-type">

                                    <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Отмена
                                    </button>
                                    <button type="button" data-submit class="btn btn-primary">
                                        Отправить
                                    </button>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="preloader">
        <div class="background">
            <div class="outside">
                <div class="inside"><span><i class="fas fa-envelope"></i></span></div>
            </div>
        </div>
    </div>

    <div id="overlay">
        <div class="alert">
            <h3>Ваше письмо ушло к Вам!</h3>
        </div>
    </div>
</section>