<section id="some-history">

    <div class="some-history-content">
        <p class="top-text">
            20 years ago, CTECH Consulting Group opened for business in Calgary. Over the years, our team has worked
            with
            clients through numerous disaster recovery and business continuity events, such as the Calgary floods,
            numerous
            snow and weather events, and countless other disasters. Our commitment to providing business continuity,
            networking, and security solutions has continued for nearly three
        </p>
        <h3>Our team knows what it takes to keep employees connected and businesses productive.
        </h3>
        <p class="bottom-text">
            Get prepared with a no-obligation consultation with one of our business continuity specialists now. Fill out
            the
            form and we’ll meet with you to understand your current state of readiness and what measures must be taken
            now
            to prepare for any level of business interruption due to coronavirus.
        </p>
        <img src="img/s3-img.png" alt="consultation img">

    </div>
</section>