<section id="advantages">
    <h3>преимущества заказа окон <br>
        у профессионалов с 10-летним опытом
    </h3>

    <div class="container-lg mt-5 mb-4">

        <div class="row">

            <div class="col-md-4 col-sm-6 col-xs-12 mb-5 ">

                <div class="adv-container">
                    <div class="adv-container__img adv-img1"></div>
                    <div class="adv-container__text">Официальный партнер REHAU в области <br> производства и реализации светопрозрачных
                        <br> конструкций </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 mb-5">

                <div class="adv-container">
                    <div class="adv-container__img adv-img2"></div>
                    <div class="adv-container__text">Специалисты высокого класса и высокоточное <br> технологическое оборудование европейских
                        <br> производителей (Германия, Италия, Венгрия) </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 mb-5">

                <div class="adv-container">
                    <div class="adv-container__img adv-img3"></div>
                    <div class="adv-container__text">Комплектующие только высокого качества в <br> каждое окно - идеальная сборка и монтаж на
                        <br> месте</div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 mb-5">

                <div class="adv-container">
                    <div class="adv-container__img adv-img4"></div>
                    <div class="adv-container__text">Официальный партнер REHAU в области  <br>производства и реализации светопрозрачных
                        <br> конструкций </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 mb-5">

                <div class="adv-container">
                    <div class="adv-container__img adv-img5"></div>
                    <div class="adv-container__text">Специалисты высокого класса и высокоточное <br> технологическое оборудование европейских
                        <br> производителей (Германия, Италия, Венгрия) </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 mb-5">

                <div class="adv-container">
                    <div class="adv-container__img adv-img6"></div>
                    <div class="adv-container__text">Комплектующие только высокого качества в <br> каждое окно - идеальная сборка и монтаж на
                        <br> месте</div>
                </div>
            </div>

        </div>
    </div>
</section>