<div class="container-xl">
    <section id="mainpage-content" class="pg6">

        @@include('_navigation.html')

        <article class="my-page">

            <div class="profile-content">

                <div class="profile-content__info">
                    <div class="tasks">
                        <label for="inputData">Введите количество воды (>10)</label>
                        <input type="number" placeholder="сюда" name="inputData" id="inputData">
                        <button  onclick="myFunc6 (), this.disabled='true'">ДЕЛАЙ</button>
                        <button onclick="window.location.href='index6.html'" name="repeat">Поторить</button>                        <h4>Вывод:</h4>
                        <div id="myOutData"></div>
                    </div>
                </div>

                <div class="my-wall-item">

                    <div class="container">
                        <div class="row">

                            <div class="my-wall-user">
                                <img src="img/ico/av_64.png" alt="user avatar  mini" width="40" height="40">
                                <div class="my-wall-user__name">
                                    Luella Hubbard
                                    <span>1 Apr 2018</span>
                                </div>
                            </div>
                        </div>

                        <div class="wall-text">
 <pre>
 Задание для самостоятельной работы
 (в следующих задачах вывод данных может быть
 реализован как с помощью диалоговых окон, так
 и средствами консоли разработчика)<hr>
 1. Напишите скрипт, который запрашивает у пользователя число N
     и выводит все четные числа от 2 до N
 или N-1, если N нечетное. Например: ввод 10, вывод
 2 4 6 8 10; ввод 7, вывод 2 4 6.<hr>
 2. Напишите скрипт, который запрашивает у пользователя число N
     и выводит все нечетные
     числа от N (или
 N-1, если N четное) до 1 в порядке убывания. Например, ввод 7,
     вывод 7 5 3 1; ввод 10,
     вывод 9 7 5 3 1.<hr>
 3. Напишите скрипт, который запрашивает у пользователя число N
     и выводит все числа,
     на которые делится
 N, включая число 1 (примеры: ввод N=10, вывод 1, 2,
 5; ввод 11, вывод 1).<hr>
 4. Напишите скрипт, который принимает от пользователя величину
     годовой депозитной
     ставки (в процентах) и выводит количество лет, по прошествии
 которых вклад увеличится вдвое.<hr>
 5. Напишите скрипт, который выводит ровно 10 случайных чисел из
     диапазона 1–20,
     кроме тех, которые
 делятся на 4.<hr>
 6. Из-за утечки из бака охлаждения ежедневно вытекает
 10% налитой воды. При объеме воды менее 10 литров
 возникает аварийная ситуация. Составьте программу, которая
     запрашивает у пользователя первоначальный
 объем воды и рассчитывает, на сколько дней
 работы этого хватит.
 </pre>
                        </div>

                        <div class="row">
                            <div class="wall-actions">
                                <div class="likes"><span><i class="fas fa-heart"></i></span>342</div>
                                <div class="comments"><span><i class="far fa-comment-alt"></i></span>249</div>
                                <div class="repos"><span><i class="fas fa-share"></i></span></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="my-wall-item">

                    <div class="container">
                        <div class="row">

                            <div class="my-wall-user">
                                <img src="img/ico/av_64.png" alt="user avatar  mini" width="40" height="40">
                                <div class="my-wall-user__name">
                                    Luella Hubbard
                                    <span>25 March 2018</span>
                                </div>
                            </div>
                        </div>

                        <div class="wall-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda
                            atque consequatur consequuntur debitis ducimus eius exercitationem facere, facilis harum hic
                            iure iusto laudantium minima mollitia nam neque obcaecati praesentium provident quidem quo
                            rem velit, voluptatibus! Deleniti dolorum est excepturi expedita molestiae quae rem vitae.
                            Ad dolores mollitia neque ratione?
                        </div>

                        <div class="row">
                            <div class="wall-actions">
                                <div class="likes"><span><i class="fas fa-heart"></i></span>398</div>
                                <div class="comments"><span><i class="far fa-comment-alt"></i></span>78</div>
                                <div class="repos"><span><i class="fas fa-share"></i></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>


    </section>
</div>