	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="@@pageDescription">
	<meta name="keywords" content="@@pageDescription">

	<!-- Favicon -->
	<link rel="shortcut icon" href="img/favicon.ico" type="image/ico">

	<title>@@pageTitle</title>

	<link rel="stylesheet" href="css/vendor.css">

	<!-- Основной файл стилей -->
	<link rel="stylesheet" href="css/main.css">

<!--	&lt;!&ndash; Chrome, Firefox OS and Opera &ndash;&gt;-->
<!--	<meta name="theme-color" content="#EBEBEB">-->
<!--	&lt;!&ndash; Windows Phone &ndash;&gt;-->
<!--	<meta name="msapplication-navbutton-color" content="#EBEBEB">-->
<!--	&lt;!&ndash; iOS Safari &ndash;&gt;-->
<!--	<meta name="apple-mobile-web-app-status-bar-style" content="#EBEBEB">-->

<!--	&lt;!&ndash;[if lt IE 9]>-->
<!--		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>-->
<!--	<![endif]&ndash;&gt;-->
